* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tratamento-de-imagens {
  font-family: "Inter", "Roboto", "Poppins", sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.tratamento-de-imagens input:disabled {
  opacity: 0.6;
}
.tratamento-de-imagens input,
.tratamento-de-imagens select,
.tratamento-de-imagens textarea,
.tratamento-de-imagens button {
  font-family: "Inter", "Roboto", "Poppins", sans-serif;
}
.tratamento-de-imagens h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
.tratamento-de-imagens h1 span {
  font-weight: bold;
}
.tratamento-de-imagens header,
.tratamento-de-imagens main,
.tratamento-de-imagens footer {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}
.tratamento-de-imagens header {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  margin-bottom: 5rem;
}
.tratamento-de-imagens header h1 {
  font-size: 3.5rem;
  max-width: 800px;
  text-align: center;
}
.tratamento-de-imagens a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.tratamento-de-imagens button,
.tratamento-de-imagens a {
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  background: #5b1ab2;
  border: none;
  color: #fff;
  font-size: 1rem;
}
.tratamento-de-imagens button:disabled,
.tratamento-de-imagens a:disabled {
  opacity: 0.6;
}
.tratamento-de-imagens button:hover:not(:disabled),
.tratamento-de-imagens a:hover:not(:disabled) {
  filter: brightness(0.9);
}

.compressor-de-imagens,
.conversor-de-imagens {
  margin: 3rem 0;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.compressor-de-imagens h2,
.conversor-de-imagens h2 {
  width: 100%;
  margin-bottom: 1.5rem;
  font-weight: normal;
}
.compressor-de-imagens .resultado-comprimir,
.compressor-de-imagens .resultado-converter,
.conversor-de-imagens .resultado-comprimir,
.conversor-de-imagens .resultado-converter {
  width: 100%;
  height: 100%;
}
.compressor-de-imagens .resultado-comprimir p,
.compressor-de-imagens .resultado-converter p,
.conversor-de-imagens .resultado-comprimir p,
.conversor-de-imagens .resultado-converter p {
  margin-top: 1rem;
  opacity: 0.8;
}
.compressor-de-imagens .resultado-comprimir .image,
.compressor-de-imagens .resultado-converter .image,
.conversor-de-imagens .resultado-comprimir .image,
.conversor-de-imagens .resultado-converter .image {
  padding: 1.5rem;
  background: #edeef0;
}
.compressor-de-imagens .resultado-comprimir .image h3,
.compressor-de-imagens .resultado-converter .image h3,
.conversor-de-imagens .resultado-comprimir .image h3,
.conversor-de-imagens .resultado-converter .image h3 {
  display: flex;
  justify-content: space-between;
}
.compressor-de-imagens .resultado-comprimir .image h3 button,
.compressor-de-imagens .resultado-converter .image h3 button,
.conversor-de-imagens .resultado-comprimir .image h3 button,
.conversor-de-imagens .resultado-converter .image h3 button {
  display: inline-block;
  width: 3rem;
  transform: translateY(-1.5rem);
}
.compressor-de-imagens .resultado-comprimir .image .image-result,
.compressor-de-imagens .resultado-converter .image .image-result,
.conversor-de-imagens .resultado-comprimir .image .image-result,
.conversor-de-imagens .resultado-converter .image .image-result {
  margin-top: 1.5rem;
  min-height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 3px dashed #fff;
  border-radius: 1rem;
}
.compressor-de-imagens .resultado-comprimir .image .image-result .wrapper,
.compressor-de-imagens .resultado-converter .image .image-result .wrapper,
.conversor-de-imagens .resultado-comprimir .image .image-result .wrapper,
.conversor-de-imagens .resultado-converter .image .image-result .wrapper {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.compressor-de-imagens .resultado-comprimir .image .image-result img,
.compressor-de-imagens .resultado-converter .image .image-result img,
.conversor-de-imagens .resultado-comprimir .image .image-result img,
.conversor-de-imagens .resultado-converter .image .image-result img {
  height: 100%;
  width: 100%;
  max-height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.compressor-de-imagens .resultado-comprimir button,
.compressor-de-imagens .resultado-comprimir a,
.compressor-de-imagens .resultado-converter button,
.compressor-de-imagens .resultado-converter a,
.conversor-de-imagens .resultado-comprimir button,
.conversor-de-imagens .resultado-comprimir a,
.conversor-de-imagens .resultado-converter button,
.conversor-de-imagens .resultado-converter a {
  background: #111;
}

.compressor-de-imagens {
  margin-bottom: 7.5rem;
}

.form {
  width: 100%;
  background: #edeef0;
  padding: 1.5rem;
}
.form input:not([type=radio]),
.form select {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  border: 1px solid #fff;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.form input:not([type=radio]):hover:not(:disabled),
.form select:hover:not(:disabled) {
  border-color: #5b1ab2;
}
.form input:not([type=radio])[type=file],
.form select[type=file] {
  display: none;
}
.form label {
  display: inline-flex;
  margin-bottom: 1rem;
}
.form label[for=comprimir],
.form label[for=converter] {
  margin-bottom: 2rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #454545;
  width: 100%;
  height: 200px;
  border: 3px dashed #fff;
  border-radius: 1rem;
  transition: 0.2s;
  padding: 1rem;
}
.form label[for=comprimir] span,
.form label[for=converter] span {
  font-size: 2rem;
  color: #5b1ab2;
  margin-left: 1rem;
  font-weight: normal;
  transform: translateY(-3px);
}
.form label[for=comprimir] img,
.form label[for=converter] img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.form .radio {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.form .radio label {
  display: inline-flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 3rem;
  background: #fff;
  border-radius: 1rem;
  padding-left: 1rem;
}
.form .radio .input-group {
  background: #fff;
  border-radius: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.form .radio input {
  width: 1rem;
  height: 1rem;
  accent-color: #5b1ab2;
}
.form:hover {
  border-color: #5b1ab2;
}

.opt-wrapper {
  background: #f2f5fe;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1120px;
  margin: 5rem auto;
  height: calc(50vh - 10rem);
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 16px;
}
.opt-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  border: 1px solid #7ed0ff;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Roboto", "Open Sans", sans-serif;
  transition: 0.2s;
  gap: 1rem;
}
.opt-wrapper a img {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.6;
}
.opt-wrapper a:hover {
  background: #7ed0ff;
}
.opt-wrapper a:hover img {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */